/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    
}


header h1 {
    margin: 0;
    font-size: 32px;
    
}

header p {
    margin: 5px 0;
    
}
.profile-image {
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
    border-radius: 50%; /* Bordas arredondadas para criar um visual mais suave */
    float: left; /* Alinha a imagem à esquerda */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}
section {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.experience h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #8b8a8a; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Centralizar o título */
}
.experience h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #dad8d8; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
   
}
.summary h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #8b8a8a; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Centralizar o título */
}
.education h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #8b8a8a; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Centralizar o título */
}
.competencia h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #8b8a8a; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Centralizar o título */
}
.Conhecimentos h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    background-color: #8b8a8a; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 8px;
    text-align: center; /* Centralizar o título */
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    font-size: 16px; /* Tamanho da fonte menor para as experiências */
}

/* Quadrados coloridos */
.experience li {
    position: relative;
    padding-left: 20px;
}

.experience li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #007bff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

footer {
    font-size: 14px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }
}
